@tailwind base;
@tailwind components;
@tailwind utilities;

/* Full height layout */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Prevent mobile overflow bug */
body {
  overflow-x: hidden;
  background-color: #f3e9dc;
}

/* Smooth font rendering */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

